.slider {
  height: 90vh;
}

.slide {
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .slide-overlay {
    background: rgba(0, 0, 0, 0.6);
  }
  &.slide1 {
    background-image: url("../images/pikachu-hero-bg.jpg");
  }
  &.slide2 {
    background-image: url("../images/bulbasaur-hero-bg.jpg");
  }
  &.slide3 {
    background-image: url("../images/jigglypuff-hero-bg.jpg");
  }
}
