* {
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.pokemon {
  min-width: 16%;
  height: 50%;
}

h1 {
  font-size: 3.5vw;
  font-weight: 700;
}

p,
h5 {
  margin: 0 !important;
  font-size: 1.6vw;
}

h5 {
  font-weight: 300;
}
